PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/pawpulse?retryWrites=true&w=majority
JWT_SECRET=pawpulse_super_secret_jwt_key_2024
ADMIN_EMAIL=admin@pawpulse.com
ADMIN_PASSWORD=Admin@123
NODE_ENV=development
